@model User

<div class="settings-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Your Settings</h1>

                <form method="post" action='@Url.Action("UpdateSettings", "Settings")'>
                    <fieldset>
                        <input type="hidden" name="token" value="@Model.Token" />
                        <fieldset class="form-group">
                            <input type="text" class="form-control" value="@Model.Image" name="image" placeholder="URL of profile picture" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="hidden"  value="@Model.Username" name="username"/>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control form-control-lg" rows="8" value="@Model.Bio" name="bio" placeholder="Short bio about you"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-lg" value="@Model.Email" name="email" placeholder="Email" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="text" value="@Model.Password" name="password" placeholder="New Password" />
                        </fieldset>
                        <button class="btn btn-lg btn-primary pull-xs-right">Update Settings</button>
                    </fieldset>
                </form>
                <hr />
                <form asp-controller="Authentication" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-outline-danger">Or click here to logout.</button>
                </form>
            </div>
        </div>
    </div>
</div>