@model List<Article>

<div class="home-page">
    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
    <div class="feed-toggle">
        <ul class="nav nav-pills outline-active">
            @{
                if(Context.Session.GetString("email") != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="">Your Feed</a>
                    </li>
                }
            }
            <li class="nav-item">
                <a class="nav-link active" href="">Global Feed</a>
            </li>
        </ul>
    </div>

    @foreach (var article in Model)
    {
        <div class="article-preview">
            <div class="article-meta">
                <a href="/Profile/OtherUserProfile?username=@article.Author.Username"><img src="@article.Author.Image" /></a>
                <div class="info">
                    <a href="/Profile/OtherUserProfile?username=@article.Author.Username" class="author">@article.Author.Username</a>
                    <span class="date">@article.CreatedAt.ToString("MMMM dd, yyyy")</span>
                </div>
                            <form method="post" asp-action="AddToFavorites" asp-route-slug="@article.Slug">
                                <button type="submit" class="btn btn-outline-primary btn-sm pull-xs-right">
                                    <i class="ion-heart"></i> @article.FavoritesCount
                                </button>
                            </form>
            </div>
                <a href="/Article/Article?slug=@article.Slug" class="preview-link">
                <h1>@article.Title</h1>
                <p>@article.Description</p>
                <span>Read more...</span>
                <ul class="tag-list">
                    @foreach (var tag in article.Tags)
                    {
                        <li class="tag-default tag-pill tag-outline">@tag</li>
                    }
                </ul>
            </a>
        </div>
    }
        </div>
    </div>
</div>