@model frontend_net.Models.Article

<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">

                <form method="post" action='@Url.Action("UpdateArticle", "Article")'>
                    <fieldset>
                        <input type="hidden" name="slug" value="@Model.Slug" />
                        <input type="hidden" name="slug" value="@Model.Author" />
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Article Title" value="@Model.Title" name="title" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" placeholder="What's this article about?" value="@Model.Description" name="description" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" rows="8" placeholder="Write your article (in markdown)" name="body" required>@Model.Body</textarea>
                        </fieldset>
                        <button class="btn btn-lg pull-xs-right btn-primary" type="submit">
                            Edit Article
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>